body{
    background-color: burlywood;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 100px;
    text-decoration: underline;
    color: brown;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50% ; 
}
div{
    text-align: center;
    margin-top: 20px;
}
#academics, #hobbies, #CV{
    font-size: 30px;
    padding: 15px;
    margin: 10px;
    border-radius: 20%;
    background-color: rgb(44, 34, 241);
    color: aliceblue;
    transition: background-color,color 0.25s;
}
#academics:hover, #hobbies:hover, #CV:hover{
    background-color: rgb(16, 170, 241);
    color: rgb(10, 10, 10);
}
#academics:active, #hobbies:active, #CV:active{
    background-color: rgb(225, 255, 0);
}